body{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

div.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid;
  padding: 10px;
  padding-left: 140px;
  z-index: 5;
  background-image: url(./klausruhland.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-size: contain;
}

div.title div.title{
  font-size: 1.8em;
  font-weight: 200;
}
div.title div.subtitle{
  font-size: 1em;
  font-weight: 100;
  margin-top: 40px;
}


.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 300;
  font-size: 1.2em;
  padding: 20px;
  padding-top: 100px;
  overflow-y: auto;
  box-sizing: border-box;
}

.page h4{
  font-weight: 300;
}
.form {
    width: auto;
}


.themeswitch-checkbox {
  -webkit-appearance: none;
}
.themeswitch-label {
  z-index: 50;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 90px;
  height: 34px;
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 1px solid #999999; border-radius: 20px;
}
.themeswitch-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.themeswitch-inner:before, .themeswitch-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 34px; 
  padding: 0; 
  line-height: 34px;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}
.themeswitch-inner:before {
  content: "bright";
  padding-left: 10px;
  background-color: white; 
  color: #002200;
}
.themeswitch-inner:after {
  content: "dark";
  padding-right: 10px;
  background-color: #002200; 
  color: white;
  text-align: right;
}
.themeswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #888888; 
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.themeswitch-checkbox:checked + .themeswitch-label .themeswitch-inner {
  margin-left: 0;
}
.themeswitch-checkbox:checked + .themeswitch-label .themeswitch-switch {
  right: 0px; 
}



.themeswitch-checkbox:checked ~ .page {
  color:#002200;
  background-color: white;
}

.themeswitch-checkbox:not(:checked) ~ .page {
  background-color:#002200;
  color: white;
}

.themeswitch-checkbox:checked ~ div.title {
  color:#002200;
  background-color: white;
  border-color:#004400;
}

.themeswitch-checkbox:not(:checked) ~ div.title {
  background-color:#004400;
  color: white;
  border-color: white;
}