body{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

div.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid;
  padding: 10px;
  padding-left: 140px;
  z-index: 5;
  background-image: url(./klausruhland.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-size: contain;
}

div.title h1{
  font-size: 1.8em;
  font-weight: 200;
  margin: 0;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 300;
  font-size: 1.2em;
  padding: 20px;
  padding-top: 120px;
  overflow-y: auto;
  box-sizing: border-box;
}

.page h1{
  font-size: 1.4em;
  font-weight: bold;
}
.page h2{
  font-size: 0.9em;
  font-weight: 200;
}
.page h3{
  font-weight: bold;
}

.page h4{
  font-weight: 300;
}
.form {
    width: auto;
}


/* themeswitch parameters */

.themeswitch-checkbox {
  -webkit-appearance: none;
}
.themeswitch-label {
  z-index: 50;
  position: absolute;
  left: 140px;
  top: 65px;
  width: 90px;
  height: 34px;
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 1px solid #999999; border-radius: 20px;
}
.themeswitch-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.themeswitch-inner:before, .themeswitch-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 34px; 
  padding: 0; 
  line-height: 34px;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}
.themeswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #888888; 
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.themeswitch-checkbox:checked + .themeswitch-label .themeswitch-inner {
  margin-left: 0;
}
.themeswitch-checkbox:checked + .themeswitch-label .themeswitch-switch {
  right: 0px; 
}




@media only screen and (max-width: 600px) {
  .themeswitch-inner:before {
    content: "bright";
    padding-left: 10px;
    background-color: white; 
    color: #111111;
  }
  .themeswitch-inner:after {
    content: "dark";
    padding-right: 10px;
    background-color: #111111; 
    color: white;
    text-align: right;
  }
  .themeswitch-checkbox:checked ~ div.title {
    color:#111111;
    background-color: white;
    border-color:#000000;
  }
  .themeswitch-checkbox:not(:checked) ~ div.title {
    background-color:#000000;
    color: white;
    border-color: white;
  }
  .themeswitch-checkbox:not(:checked) ~ .page {
    background-color:#111111;
    color: white;
  }
  .themeswitch-checkbox:checked ~ .page {
    color:#111111;
    background-color: white;
  }
  .themeswitch-checkbox:checked ~ .page a{
    color: darkorange;
    background-color: white;
  }
}
@media only screen and (min-width: 601px) {
  .themeswitch-inner:before {
    content: "dark";
    padding-left: 10px;
    background-color: white; 
    color: #111111;
  }
  .themeswitch-inner:after {
    content: "bright";
    padding-right: 10px;
    background-color: #111111; 
    color: white;
    text-align: right;
  }
  .themeswitch-checkbox:checked ~ div.title {
    background-color:#000000;
    color: white;
    border-color: white;
  }
  .themeswitch-checkbox:not(:checked) ~ div.title {
    color:#111111;
    background-color: white;
    border-color:#000000;
  }
  .themeswitch-checkbox:not(:checked) ~ .page {
    color:#111111;
    background-color: white;
  }
  .themeswitch-checkbox:checked ~ .page {
    background-color:#111111;
    color: white;
  }
}



#forkongithub a{
  background:#f00;
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}
#forkongithub a:hover{
  background:#c11;
  color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
  content:"";width:100%;
  display:block;position:
    absolute;top:1px;
  left:0;
  height:1px;
  background:#fff;
}
#forkongithub a::after{
  bottom:1px;top:auto;
}
@media screen and (min-width:800px){
  #forkongithub{
    position:fixed;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
    z-index:9999;
  }
  #forkongithub a{
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}
